.boy{
  background-color: rgba(200,232,252,1)!important;
  border-color: #E9F5FB;
  color: transparent;
}
.girl{
  background-color: rgba(255,222,228,1)!important;
  border-color: #E9F5FB;
  color: transparent;
}
.baby-boy{
  background-image: url(./../assets/baby-boy.svg);
}
.baby-girl{
  background-image: url(./../assets/baby-girl.svg);
}
.jtable{
  background-size: auto 50%!important;
  background-position: top center!important;
}
.baby-boygirl{
  background-position: right top, left top!important;
  background-image: url(./../assets/baby-boy.svg), url(./../assets/baby-girl.svg);
  background-color: #ddd2fc;
  background-size: 50% auto, 50% auto!important;
  color: transparent;
}
